.couleurPatrimoine{
    color: #A7342F !important;
}

.couleurCulture{
    color: #35B3C2 !important;
}

.couleurLoisirs{
    color: #AFCC34 !important;
}

.LobsterFont {
    font-family: 'Lobster', cursive;
}
.bgcouleurPatrimoine{
        background-color: #A7342F;
}
       
   
.bgcouleurCulture{
        background-color: #35B3C2;
}

.bgcouleurLoisirs{
        background-color:#AFCC34 ;
}

.bgfooter {
    background-color: #01B5D6 ; 
}
nav {
    background-color:  rgba(255, 255, 255, 0.7);
    font-size: 2vw;
    height: 60px;
}

#button {
    font-size: 1.4vw;
    height: 100%;
    background: grey;

}

.headerImg{
    background-image: url('../images/photoGenDesk.png');
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: bottom;
}

.cultureHeaderImge {
    background-image: url('../images/cultureHeader.png');
    background-size: cover;
    width: 100%;
    height: 800px;
    background-position: bottom;
}
.loisirsImg{
    background-image: url('../images/loisirs.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: bottom;
}

.patrimoineHeaderImage {
    background-image: url('../images/imagetete.png');
    background-size: cover;
    width: 100%;
    height: 800px;
    background-position: bottom;
}
.dosisFont {  
    font-family: 'Dosis', sans-serif; }

h1 {
    font-size: 3.5vw;
    text-shadow: 3px 3px 10px black;
}
h2 {
    font-size: 4vw;
    text-shadow: 3px 3px 10px black;
}

h3{
    font-size: 3vw;
}

.introText{
    text-shadow: 2px 2px 6px black;
    font-size: 2.2vw;
   }

.cardTest{
    max-height: 150px;
}

.chiffresCarte {
    font-size: 6vw;
}

.textesCartes {
    font-size: 3vw;
}

.interligne {
    line-height: 3vw;

}

.stylecard {
    width: 80%;
}

.styletext {
    height: 35rem;
}
.styledeck {
    height: 30rem;
}

.tailleImg {
    width: 60%;
}

@media screen and (max-width: 600px){
    ul {
        background-color: rgba(255, 255, 255, 0.842);
        font-size: 5vw;
    }

    .cultureHeaderImge {
        max-height: 400px;
        background-position: top;
        width: 100%;
    }
    h1{
        font-size: 5vw;
    }

    h2{
        font-size: 8vw;
    }

    h3{
        font-size: 6vw;
    }

    .introText{
        font-size: 5vw;
    }

    .footerText li{
    font-size: 4vw;
    }
    

}

